<launch>
	<!-- system parameters -->
	<group ns="carote">
		<!-- general reference frames names -->
		<param name="frames/base" type="str" value="/base_link" />
		<param name="frames/goal" type="str" value="/goal" />
		<param name="frames/target" type="str" value="/target" />
		<param name="frames/tip" type="str" value="/gripper_palm_link" />
		<param name="frames/wrist" type="str" value="/arm_link_4" />
		<param name="frames/sensor" type="str" value="/camera_rgb_optical_frame" />

		<!-- general topics -->
		<param name="topics/control/arm_position" type="str" value="/arm_1/arm_controller/position_command" />
		<param name="topics/control/arm_velocity" type="str" value="/arm_1/arm_controller/velocity_command" />
		<param name="topics/control/base" type="str" value="/cmd_vel" />
		<param name="topics/operator" type="str" value="/carote/operator/goal" />
		<param name="topics/state" type="str" value="/joint_states" />
		<param name="topics/target" type="str" value="/carote/target/pose" />

		<!-- machines URIs -->
		<param name="uri/pc" type="str" value="http://guacamaya:11311" />
		<param name="uri/robot" type="str" value="http://scooby-desktop:11311" />

		<!-- robot poses -->
		<rosparam param="/carote/poses/home">[{arm_joint_1: 0.01007}, {arm_joint_2: 0.01007}, {arm_joint_3: -0.015708}, {arm_joint_4: 0.0221239}, {arm_joint_5: 0.11062}]</rosparam>
		<rosparam param="/carote/poses/work">[{arm_joint_1: 2.9496030794680093}, {arm_joint_2: 0.6763184415502104}, {arm_joint_3: -1.2959069696057897}, {arm_joint_4: 2.683451099571924}, {arm_joint_5: 2.9234289553007162}]</rosparam>
	</group>
</launch>
