#!/usr/bin/env python
PACKAGE = "carote"

from dynamic_reconfigure.parameter_generator_catkin import *

gen=ParameterGenerator()

gen.add("lambda",double_t,0,"orbit longitude [deg]",0.0,-30.0,30.0)
gen.add("phi",double_t,0,"orbit latitude [deg]",0.0,-15.0,12.0)
gen.add("rho",double_t,0,"orbit distance [meters]",0.6,0.4,0.6)
gen.add("z_lower",double_t,0,"minimum height",0.1,0.1,0.4)
gen.add("z_upper",double_t,0,"maximum height",0.9,0.6,1.2)

exit(gen.generate(PACKAGE, "parameters", "Operator"))
