#!/usr/bin/env python
PACKAGE = "carote"

from dynamic_reconfigure.parameter_generator_catkin import *

gen=ParameterGenerator()

gen.add("enabled",int_t,0,"enable/disable controller",0,0,1)
gen.add("rate",double_t,0,"control rate [hertz]",160.0,80.0,250.0)

thresholds=gen.add_group("Thresholds");
thresholds.add("angular_error",double_t,0,"orientation error",0.005,0.005,0.05)
thresholds.add("cartesian_error",double_t,0,"position error",0.005,0.005,0.05)

limits=gen.add_group("Limits")
limits.add("qp",double_t,0,"maximum joints speed [rad/sec]",0.10,0.00,0.30)

exit(gen.generate(PACKAGE, "parameters", "Positioner"))
