<launch>
	<group ns="carote">
		<!-- see corresponding .cfg files for a complete list of parameters and default values -->
		<node name="follower" pkg="carote" type="follower" respawn="true" output="screen"/>
		<node name="tweak_sink" pkg="carote" type="tweak" respawn="true" output="screen"/>

		<node pkg="tf"
			type="static_transform_publisher"
			name="rgdb_broadcaster"
			args="-0.075 0.025 0 0 0 -0.7071068 0.7071068 gripper_palm_link camera_depth_optical_frame 20"/>

		<node name="carote_parameters" pkg="rqt_reconfigure" type="rqt_reconfigure" respawn="false" output="screen"/>
	</group>
</launch>
